{% extends 'base.html' %}
{% load humanize %}
{% block title %}
  Profile Page
{% endblock title %}

{% block body %}
<div class="container mt-5">
  <div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success text-center">
      <h2>Profile Information</h2>
    </div>
    <div class="card-body text-success">

      <div class="row justify-content-center align-items-center">
        <div class="col-md-3 text-center">
          <img src="https://cdn.vectorstock.com/i/preview-1x/82/55/anonymous-user-circle-icon-vector-18958255.jpg" alt="User Avatar" class="rounded-circle img-fluid" width="150" height="150">
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-user"></i> <strong>Username:</strong> {{ user.username }}</li>
            <li class="list-group-item"><i class="fas fa-user"></i> <strong>First Name:</strong> {% if user.first_name %}{{ user.first_name }}{% else %}<span class="text-muted">Not provided</span>{% endif %}</li>
            <li class="list-group-item"><i class="fas fa-user"></i> <strong>Last Name:</strong> {% if user.last_name %}{{ user.last_name }}{% else %}<span class="text-muted">Not provided</span>{% endif %}</li>
            <li class="list-group-item"><i class="fas fa-envelope"></i> <strong>Email:</strong> {{ user.email }}</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="card-footer bg-transparent border-success text-center">
<!--      <a class="btn btn-sm btn-danger" href="#">Delete Account</a>-->
<!--      <a class="btn btn-sm btn-info" href="#">Edit Profile</a>-->
    </div>
  </div>

  <h2 class="mt-4">My Posts</h2>
  <div class="row">
    {% for post_data in user_related_data %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="{{post_data.photo.url}}" alt="{{post_data.text}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{post_data.title}}</h5>
           <h5 class="card-title">{{post_data.id}}</h5>
          <p class="card-text">{{post_data.text | truncatechars:150}}</p>
          <p class="card-text"><small class="text-muted">Created by: {{post_data.name}}</small></p>
          <a href="{% url 'blogHome' %}" class="btn btn-primary">Read More</a>
<!--          <form method="post" action="" style="display: inline;">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit" class="btn btn-danger">Delete</button>-->
<!--          </form>-->
<!--          <button type="submit"> <a href="edit_post" class="btn btn-info">Edit</a></button>-->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
